{{ form_start(formA) }}
            <div class="form-group">
                {{ form_widget(formA.username) }} 
            </div>
            <div class="form-group">
                {{ form_widget(formA.email) }} 
            </div>
            <button type="submit">Ajouter</button>
        {{ form_end(formA) }}
    </div>