{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            font-family: 'Arial', sans-serif;
            font-size: 16px;
            text-align: left;
        }
        th, td {
            padding: 12px;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #4CAF50;
            color: white;
            text-transform: uppercase;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tr:hover {
            background-color: #ddd;
        }
        td {
            border-right: 1px solid #ddd;
        }
        td:last-child {
            border-right: none;
        }
        table tr:last-child td {
            border-bottom: none;
        }
    </style>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>CIN</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.id }}</td>
                    <td>{{ student.cin }}</td>
                    <td>{{ student.nom }}</td>
                    <td>{{ student.email }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
